<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category.name }}</title>
</head>
<body>
    <h1>Posts in {{ category.name }}</h1>
    {% if category.posts %}
        <ul>
            {% for post in category.posts %}
                <li>
                    <img src="https://cdn.sanity.io/images/{{ project_id }}/{{ dataset }}/{{ post.hero.asset._ref | replace('image-', '') | replace('-jpg', '.jpg') | replace('-png', '.png') | replace('-gif', '.gif') }}" alt="{{post.heroAlt}}">
                    <h2>
                        <a href="{{ url_for('main.post_detail', category_slug=post.category.slug.current, post_slug=post.slug.current) }}">
                            {{ post.title }}
                        </a>
                    </h2>
                    <p>{{ post.excerpt }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No posts available for this category.</p>
    {% endif %}
</body>
</html>