<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
</head>
<body>
    <Img src="https://cdn.sanity.io/images/{{ project_id }}/{{ dataset }}/{{ post.hero.asset._ref | replace('image-', '') | replace('-jpg', '.jpg') | replace('-png', '.png') | replace('-gif', '.gif') }}" alt="{{post.heroAlt}}">
    <h1>{{ post.title }}</h1>
    <p>Published on: {{ post.publishedAt }} in <a href="/{{post.category.slug.current}}">{{post.category.name}}</a></p>
    <div>
        {% for block in post.body %}
    {% if block._type == 'block' %}
        {% if block.style == 'h2' %}
            <h2>{{ block.children[0].text }}</h2>
        {% elif block.style == 'h3' %}
            <h3>{{ block.children[0].text }}</h3>
        {% else %}
            <p>{{ block.children[0].text }}</p>
        {% endif %}
    {% elif block._type == 'image' %}
          <img src="https://cdn.sanity.io/images/{{ project_id }}/{{ dataset }}/{{ block.asset._ref | replace('image-', '') | replace('-jpg', '.jpg') | replace('-png', '.png') | replace('-gif', '.gif') }}" alt="{{block.alt}}">
    {% elif block._type == 'link' %}
        <a href="{{ block.href }}">{{ block.children[0].text }}</a>
    {% elif block._type == 'code' %}
        <pre>{{ block.code }}</pre>
    {% elif block._type == 'list' %}
        <ul>
            {% for item in block.children %}
                <li>{{ item.text }}</li>
            {% endfor %}
        </ul>
    {% elif block._type == 'quote' %}
        <blockquote>{{ block.children[0].text }}</blockquote>
    {% elif block._type == 'youtube' %}
    <iframe src="https://www.youtube.com/embed/{{block.video.id}}" allowfullscreen="" width="100%" frameborder="0"></iframe>
    {% endif %}
{% endfor %}
    </div>
    <a href="{{ url_for('main.index') }}">Back to all posts</a>
</body>
</html>